on:
  workflow_dispatch:
  pull_request:
    paths:
      - "raiz/**"
      - ".github/workflows/ci-raiz.yml"
  push:
    branches: ["main"]
    paths:
      - "raiz/**"
      - ".github/workflows/ci-raiz.yml"

defaults:
  run:
    working-directory: ./raiz

## TODO: configurar cache
# https://github.com/astral-sh/setup-uv/blob/main/docs/caching.md

jobs:
  ruff:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6.0.2
      - uses: astral-sh/setup-uv@v7.3.0
      - run: uv run --locked ruff check .
  test:
    runs-on: ubuntu-latest
    needs: ruff
    steps:
      - uses: actions/checkout@v6.0.2
      - uses: astral-sh/setup-uv@v7.3.0
      - run: uv run --locked -m unittest
  smoke:
    runs-on: ubuntu-latest
    needs: test
    steps:
      - uses: actions/checkout@v6.0.2
      - uses: astral-sh/setup-uv@v7.3.0
      - name: Import do pacote raiz via importlib
        run: uv run --locked python -c "import importlib; importlib.import_module('raiz'); print('Import do pacote raiz OK')"
