name: ci

on:
  workflow_dispatch:
  push:
    branches: [ "main" ]
  pull_request:
    paths:
      - "src/**"
      - "pom.xml"
      - "mvnw"
      - "mvnw.cmd"
      - ".mvn/**"

jobs:
  checkout:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout do codigo
        uses: actions/checkout@v4

  build:
    runs-on: ubuntu-latest
    needs: checkout
    steps:
      - name: Checkout do codigo
        uses: actions/checkout@v4

      - name: Instalar Java
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: "25"
          cache: maven

      - name: Dar permissão ao mvnw
        run: chmod +x mvnw

      - name: Build
        run: ./mvnw -B clean install -DskipTests

  test:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Checkout do codigo
        uses: actions/checkout@v4

      - name: Instalar Java
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: "25"
          cache: maven

      - name: Dar permissão ao mvnw
        run: chmod +x mvnw

      - name: Testes
        run: ./mvnw -B test

  package:
    runs-on: ubuntu-latest
    needs: test
    steps:
      - name: Checkout do codigo
        uses: actions/checkout@v4

      - name: Instalar Java
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: "25"
          cache: maven

      - name: Dar permissão ao mvnw
        run: chmod +x mvnw

      - name: Package
        run: ./mvnw -B package -DskipTests

      - name: Listar artefatos gerados
        run: ls -la target/*.jar

  deploy:
    runs-on: ubuntu-latest
    needs: [ build, test, package ]
    steps:
      - name: Deploy
        run: echo "Deploy realizado com sucesso"
